<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chicago plays</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<p>
<h3>Chicago Plays</h3>
</p>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Theatre</th>
            <th>Genres</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${events}">
            <td>
                <a th:href="${event.details}" th:text="${event.title}">user</a>
            </td>
            <td><span th:text="${event.theatre}"> Theatre </span></td>
            <td><span th:text="${event.genres}"> Genres </span></td>
            <td><span th:text="${event.description}"> Description </span></td>
        </tr>
        </tbody>
    </table>
</body>
</html>